a {
    text-decoration: none;
    font-size: 20px;
    margin: 80px;
    color: black;
}

nav {
    text-align: right;
    padding: 10px;
}
body {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 30%, rgba(93,0,0,1) 100%, rgba(0,212,255,1) 100%);
}
img {
    max-width: 10%;
    opacity: 0.5;
}
